:root {
    --background-color: #262626;
    --text-color: #f2e6ff;
    --header-footer-color: #1a1a1a;
    --menu-color: #1a1a1a;
    --project-card-color: #5a00b3;
    --project-card-hover-color: #8000ff;
    --fonte-padrao: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao); 
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-footer-color);
    color: var(--text-color);
    padding: 11px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
    font-family: var(--fonte-padrao); 
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
}

.menu-icon:hover {
    transform: scale(1.1);
    text-shadow: 0 0 5px #f2e6ff, 0 0 10px #f2e6ff;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: left 0.3s;
    margin-top: 72px;
    font-family: var(--fonte-padrao); 
}

.menu.active {
    left: 0;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--fonte-padrao); 
    font-size: 1.2rem;
    padding: 15px;
    display: block;
    margin-top: 50px;
}

.menu li a:hover {
    text-shadow: 0 0 5px #f2e6ff, 0 0 10px #f2e6ff;
    transform: scale(1.2);
}

.greeting {
    text-align: center;
    width: 90%;
    margin-right: 6%;
    font-size: 1.5rem;
}

main {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 10px;
    padding: 20px;
    background: var(--background-color);
    border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: var(--text-color);
    font-family: var(--fonte-padrao); 
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-message {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 7%;
    padding: 26px;
    color: var(--text-color);
    font-family: var(--fonte-padrao); 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 60px;
}

.project-card, .cardDepoimento {
    background: var(--project-card-color);
    border: 1px solid var(--project-card-color);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    font-family: var(--fonte-padrao); 
}

.project-card:hover, .cardDepoimento:hover {
    transform: scale(1.05);
    background: var(--project-card-hover-color);
    border-color: var(--project-card-hover-color);
    box-shadow: 0 0 15px #5a00b3;
    text-shadow: 0 0 5px #5a00b3;
}

.cardDepoimento {
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--project-card-color);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin-top: 5%;
    cursor: pointer;
}

.cardDepoimento p {
    font-size: 16px;
}

.project-card a {
    text-decoration: none;
    color: var(--text-color);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p, .cardDepoimento p {
    color: var(--text-color);
}

footer {
    text-align: center;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    bottom: 0;
}

@media (max-width: 1024px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .project-grid {
        grid-template-columns: 1fr;
        margin-top: 1%;
    }

    .welcome-message {
        font-size: 1.2rem;
    }

    main {
        margin-top: 10%;
    }

    .cardDepoimento {
        width: 100%;
        padding: 5px;
    }

    .greeting, .menu {
        font-size: 1.3rem;
    }

    .menu {
        left: -200px;
        width: 150px;
    }
}
