:root {
    --background-color: #303030;
    --text-color: #f2e6ff;
    --header-footer-color: #333333;
    --menu-color: #333333;
    --fonte-padrao: font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao);
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-footer-color);
    color: var(--text-color);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: left 0.3s;
    margin-top: 90px;
}

.menu.active {
    left: 0;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    display: block;
    margin-top: 50px;
}

.greeting {
    text-align: center;
    width: 90%;
    margin-right: 6%;
    font-size: 1.6rem;
}

main {
    width: 95%;
    margin-top: 100px;
    margin-bottom: 10px;
    padding: 20px;
    background: var(--background-color);
    border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: var(--text-color);
}

h1 {
    margin-top: 10%;
    color: #ff0080; 
    font-size: 35px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cell {   
     width: 100px;
    height: 100px;
    background-color: #512B81; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid #512B81; 
    border-radius: 10px;
}

.cell.x {
    content: "X";
    font-size: 2em;
    color: #ff0080;
    font-weight: bold;
    border-radius: 7px;
}

.cell.o {
    content: "O";
    font-size: 2em;
    color: #ffff00; 
    font-weight: bold;
}

.winning-message {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 2em;
}

.winning-message.show {
    display: flex;
}

#restartButton, #startGameButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff0080;
    border: none;
    border-radius: 15px;
    color: #ffff00;
    text-align: center;
}

.winner-name {
    margin-top: 10px;
    font-size: 1.5em;
}

footer {
    text-align: center;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    bottom: 0;
}

.jogadorX, .jogadorO, .orientacao {
    font-family: var(--fonte-padrao);
    color: #ffff00;
    font-size: 25px;
}

.playerX-input, .jogadorO-input {
    border: 2px solid #333;
    border-radius: 20px;
    padding: 15px 20px;
    color: #333;
    font-family: var(--fonte-padrao);
}