* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid #000;
}

.cell.x::before {
    content: "X";
    font-size: 2em;
    color: #ff0000; /* Cor vermelha para X */
}

.cell.circle::before {
    content: "O";
    font-size: 2em;
    color: #0000ff; /* Cor azul para O */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.message {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

@media (max-width: 400px) {
    .board {
        grid-template-columns: repeat(3, 80px);
        grid-template-rows: repeat(3, 80px);
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 20px;
    }

    .cell.x::before,
    .cell.circle::before {
        font-size: 1.5em;
    }
}
