:root {
    --background-color: #262626;
    --text-color: #f2e6ff;
    --header-footer-color: #1a1a1a;
    --menu-color: #1a1a1a;
    --card-background: #333;
    --card-hover-background: #444;
    --text-main-color: #ffcce6;
    --fonte-padrao: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-color-o: #ccccff;
    --button-background: #9900ff;
    --button-hover-background: #cc00ff;
}

.emoji {
    font-size:2em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
    cursor: default; /* Change the cursor to default */
}

/* Estilização para inputs preenchidos automaticamente */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-main-color) !important;
    background-color: var(--card-background) !important;
    box-shadow: 0 0 15px #9900ff, 0 0 20px #9900ff !important;
}

body {
    font-family: var(--fonte-padrao);
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-footer-color);
    color: var(--text-color);
    padding: 11px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
}

.menu-icon:hover {
    transform: scale(1.1);
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: left 0.3s;
    margin-top: 72px;
}

.menu.active {
    left: 0;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    display: block;
    margin-top: 50px;
}

main {
    color: var(--text-main-color);
    font-family: var(--fonte-padrao);
    margin-top: 6%;
    text-align: center;
    width: 100%;
}

.board {
    gap: 5px;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    float: left;
    width: 100%;
}

.linha {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}
.linha div {
    text-align: center;
    width: 100px;
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 5px;
    text-shadow: 0 0 10px #7a26cc, 0 0 30px #7a26cc
}
.cell {
    background-color: #512B81;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border-radius: 10px;
    text-decoration-thickness: 5px;
    text-underline-offset: 10px;
    transition: background-color 0.3s;
}

.cell:not(.X):not(.O):hover {
    background-color: #7a26cc; 
    
}

.cell.X {
    text-shadow: 0 0 10px #ff3399, 0 0 20px #ff3399, 0 0 30px #ff3399, 0 0 40px #ff3399, 0 0 50px #ff3399, 0 0 60px #ff3399, 0 0 70px #ff3399;
    color: #ffcce6;
}

.cell.O {
    text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff, 0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff;
    color: #ccccff;
}

.buttons {
    margin-top: 20px;
    width: 100%;
    float: left;
}

.buttons button {
    margin-right: 10px;
    padding: 10px 25px;
    font-size: 1em;
    cursor: pointer;
    background-color: #ff0080;
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    width: 15%;
    text-align: center;
    box-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080;
}

.buttons button:hover {
    background-color: #ff1a8c;
    transform: scale(1.10);
}

.turnVez {
    margin-top: 5%;
}

.turn, .turnVez {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: var(--text-color);
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

.turn {
    display: none;
}

.proximoJogador {
    width: 100%;
    font-size: 3em;
    color: var(--text-color);
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

.vezX, .vezO {
    float: left;
    text-align: center;
    width: 50%;
}

#vezX, #vezO {
    font-size: 0.5em;
    width: 100%;
    float: left;
    margin-top: -2%;
}

.resultado {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: var(--text-color);
    text-shadow: 0 0 10px #6600cc, 0 0 20px #6600cc, 0 0 30px #6600cc;
    display: none;
}

.greeting {
    text-align: center;
    width: 90%;
    margin-right: 6%;
    font-size: 1.6rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.message {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.message h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: var(--text-color);
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080;
}

.message button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ff0080;
    color: var(--text-color);
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080;
}

.message button:hover {
    transform: scale(1.10);
    background-color: #ff1a8c;
}

footer {
    text-align: center;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Estilos para a linha animada */
.line {
    position: absolute;
    height: 5px;
    background-color: var(--text-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 10;
    text-shadow: 0 0 10px #5900b3, 0 0 40px #5900b3, 0 0 60px #5900b3;
}

@media (max-width: 375px) {
    main {
        margin-top: 5%;
    }

}


@media (max-width: 414px) {
    main {
        margin-top: 20%;
    }

    .board {
        margin-top: -20%;
    }

    .buttons button {
        width: 30%;
    }

    #vezX, #vezO {
        margin-top: -6%;
    }

    .linha div {
        width: 70px;
        height: 70px;
    }

    .vezX, .vezO {
        font-size: 0.7em;
    }    

    .turnVez {
        padding: 100px;
        font-size: 1.5em;
    }
}
