:root {
    --background-color: #262626;
    --text-color: #f2e6ff;
    --header-footer-color: #1a1a1a;
    --menu-color: #1a1a1a;
    --card-background: #333;
    --card-hover-background: #444;
    --text-main-color: #ffcce6;
    --fonte-padrao: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.emoji {
    font-size:2em
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
    cursor: default; /* Change the cursor to default */
}

body {
    font-family: var(--fonte-padrao);
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-footer-color);
    color: var(--text-color);
    padding: 11px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
}

.menu-icon:hover {
    background-color: #555;
    transform: scale(1.1);
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: left 0.3s;
    margin-top: 72px;
}

.menu.active {
    left: 0;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    display: block;
    margin-top: 50px;
}

.greeting {
    text-align: center;
    width: 90%;
    margin-right: 6%;
    font-size: 1.6rem;
}

main {
    width: 100%;
    float: left;
    margin-top: 7.25%;
    flex: 1;
}

#orientacao, #game-options {
    float: left;
    width: 50%;
    text-align: center;
    color: var(--text-main-color);
    padding: 5%;
    font-size: 23px; 
    margin-top: 5%;
}

#orientacao i, #game-options i, .icon-x {
    color: var(--text-main-color);
    margin-right: 20px;
    text-align: center;
}

.cardDoisJogadores, .cardIa {
    width: 100%;
    float: left;
    margin-bottom: 10%;
    margin-top: 12%;
}

.neon-text {
    color: #ffcce6; /* Cor principal do texto */
    text-shadow: 
        0 0 20px #ffcce6, /* Sombra mais distante */
        0 0 40px #ffcce6, /* Sombra distante */
        0 0 45px #ffcce6;  /* Sombra mais distante com cor azul */
}

.cardDoisJogadores h3, .cardIa h3 {
    background-color: #ff0080;
    color: #ffcce6;
    padding: 4%;
    width: 60%;
    float: left;
    margin-left: 20%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 0 15px #ff0080, 0 0 30px #ff0080;
    text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080;
}

.cardDoisJogadores h3:hover, .cardIa h3:hover {
    transform: scale(1.10);
    box-shadow: 0 0 15px #ff0080, 0 0 30px #ff0080;
    text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080;
}

footer {
    text-align: center;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}


@media (max-width: 715px) {
    #orientacao, #game-options {
        width: 90%; 
        margin-left: 5%;
        margin-top: 15%; 
        font-size: 1.1em;
        float: left;
    }

    .cardDoisJogadores, .cardIa, #game-options {
        width: 100%; 
        margin: 0 auto;
        text-align: center; 
    }
    .cardDoisJogadores {
        margin-bottom: 15%; 
    }

    .cardDoisJogadores h3, .cardIa h3 {
        width: 80%; 
        margin-left: 10%; 
        margin-bottom: 5%; 
        box-shadow: 0 0 15px #ff0080;
        text-shadow: 0 0 5px #ff0080;
    }

    .emoji {
        font-size:1.5em
    }

    .neon-text {
        color: #ffcce6; /* Cor principal do texto */
        text-shadow: 
            0 0 20px #ffcce6, /* Sombra mais distante */
    }
    .project-card {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1024px) {
    .project-card {
        grid-template-columns: repeat(2, 1fr);
    }
}
