
:root {
    --background-color: #262626;
    --text-color: #f2e6ff;
    --header-footer-color: #1a1a1a;
    --menu-color: #1a1a1a;
    --card-background: #333;
    --card-hover-background: #444;
    --text-main-color: #ffcce6;
    --fonte-padrao: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --text-color-o: #ccccff;
    --button-background: #9900ff;
    --button-hover-background: #cc00ff;
}

.emoji {
    font-size:2em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit; 
    text-decoration: none;
    cursor: default; 
}

/* Estilização para inputs preenchidos automaticamente */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-main-color) !important;
    background-color: var(--card-background) !important;
    box-shadow: 0 0 15px #9900ff, 0 0 20px #9900ff !important;
}

body {
    font-family: var(--fonte-padrao);
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-footer-color);
    color: var(--text-color);
    padding: 11px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    text-align: center;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
}

.menu-icon:hover {
    background-color: #555;
    transform: scale(1.1);
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--menu-color);
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    transition: left 0.3s;
    margin-top: 72px;
}

.menu.active {
    left: 0;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    display: block;
    margin-top: 50px;
}

main {
    margin-top: 5.7%;
    color: var(--text-main-color);
    font-family: var(--fonte-padrao);
}

.greeting {
    text-align: center;
    width: 90%;
    margin-right: 6%;
    font-size: 1.6rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    color: #EC53B0;
    font-size: 2rem; 
}

#attemptsContainer {
    text-align: center;
    margin-bottom: 20px;
}

#attemptsMessage {
    font-size: 1.2rem;
    color: #EC53B0;
}

.hidden {
    display: none;
}

#victoryMessage {
    text-align: center;
    font-size: 1.5rem;
    color: #FFD700;
    margin-top: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #0E21A0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #4D2DB7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background-color: #9D44C0;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.3s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #ffffff;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-color: #9D44C0;
}

.card-back {
    background-color: #fff;
    transform: rotateY(180deg);
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4D2DB7;
    color: #EC53B0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#restartButton:hover {
    background-color: #EC53B0;
    color: #4D2DB7;
}


footer {
    text-align: center;
    background-color: var(--header-footer-color);
    color: var(--text-color);
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 414px) {

    .jogadores {
        margin-top: 40%;
        width: 100%;
        float: left;
        text-align: center;
        font-size: 1.5rem;
    }

    .jogadores p {
        margin-top: 10%;
        margin-bottom: 15%;
    }

    .jogadoresNome {
        margin-bottom: 10%;
    }
    .player-input-O, .player-input-X {
        width: 75%;
    }
}